{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Home</title>
</head>
<body>
    <p>Welcome back {{name}} : {{logpassword}}</p>

    <form action="/logged" method="post">
        {% csrf_token %}
        <input placeholder="USER-NAME" name="logname" id="" type="text">
        <input placeholder="PASSWORD" name="logpassword" id="" type="password">
        <a href="/admin/">administrator</a>
        <button type="submit">Log-in</button>
    </form>

</body>
</html>